{% extends "layout.html" %}

{% block body %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

           <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cheng homepage</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a data-toggle="tab" href="#cover-section">Home</a></li>
                  <li><a data-toggle="tab" href="#contact-section">Contact</a></li>
                  <li><a data-toggle="tab" href="#timeline-section">TimeLine</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hire Me<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Download my resume</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Contact Me</li>
                      <li><a href="#">Leave Message</a></li>
                      <li><a href="#">Make An Appointment</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
          </nav>
          <div class="tab-content">
              <div id="cover-section" class="inner cover tab-pane fade in active">
                <h1 class="cover-heading">About</h1>
                <div class="row">
                    <div class="col-md-4">
                        <img src= />
                    </div>
                    <div class="col-md-8">
                        <p class="lead">My name is Cheng Yu. Currently I am work for <a href="https://gracecrm.com/">UNITIX</a> as a fullstack developer</p>
                        <p class="lead">I would say I am not that kind of "professional programmer". I love computing technology and luckily I got a job as programmer</p>
                        I do not have a very clear bundary of what I can or can not do, but I am most interested in: 
                        <ul>
                            <li>
                                Operating System Mechanism (Perferable Linux)
                            </li>
                            <li>
                                Functional Programming (Perferable Haskell, Scheme)
                            </li>
                            <li>
                                Artificial Intelligence (Perferable Machine Learning)
                            </li>
                            <li>
                                Information Security (Just know little about this area..., currently interested in encrypted currency technology)
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div id="contact-section" class="inner cover tab-pane fade">
                <h1 class="cover-heading">Contact Information.</h1>
                <p class="lead">Phone: +61451041116</p>
                <p class="lead">email: chengyu0316@gmail.com</p>
              </div>
              <div id="timeline-section" class="inner cover tab-pane fade">
                <div class="container">
                  <header class="page-header">
                    <h1>Tineline events for life, career and educations</h1>
                  </header>
                  <ul class="timeline">
                    <li><div class="tldate">2017</div></li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4 class="text-danger">
                              <i class="fa fa-user" aria-hidden="true"></i> Marry Yao
                          </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time">15/9/2016</i></small></p>
                        </div>
                        <div class="tl-body">
                          <p>The most beautiful day in my life.</p>
                        </div>
                      </div>
                    <li><div class="tldate">2016</div></li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4 class="text-danger">
                              <i class="fa fa-user" aria-hidden="true"></i> Get 189(independent skill) permanent resident VISA with Yao
                          </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time">11/12/2015</i></small></p>
                        </div>
                        <div class="tl-body">
                          <p>Thanks Australia, it is a wonderful land and legally I can live here for a very long time</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> Become Fulltime Fullstack Developer for <a href="https://gracecrm.com/">UNITIX</a>
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time">09/05/2015</i></small></p>
                        </div>
                        <div class="tl-body">
                          <p>After nearly one year of casual work finally become the full time developer for UNITIX</p>
                        </div>
                      </div>
                    </li>
                    <li><div class="tldate">2015</div></li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-warning">
                                <i class="fa fa-university" aria-hidden="true"></i> Pass NATTI Interpretation Test(Chinese to English)
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 21/12/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Lorem Ipsum and such.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> Become Causal Fullstack Developer for <a href="https://gracecrm.com/">UNITIX</a>
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 09/08/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Thanks James Strachen, Richard Walker & <a href="https://dcollins.info/">Daniel Collins (My Mentor)</a> give me this chance</p>
                          <p>While I am neither have identity nor working experience and I was also studying NATTI</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-university" aria-hidden="true"></i> Started Studying NATTI in AITI
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 13/07/2014</small></p>
                        </div>
                        <div class="tl-body">
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> RMIT Research project
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 01/03/2014 - 01/04/2014</small></p>
                        </div>
                        <div class="tl-body">
                            <p>Finished Twitter Sentiment Analysis Project with Zheng Xin supervised by Dr Jenny Zhang</p>
                            <p>This project was one of the RMIT projects that sponsored to participate iAward competition</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> RMIT summer intership
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 1/1/2014 - 1/3/2014</small></p>
                        </div>
                        <div class="tl-body">
                            <p>Polished Graduated Thesis and submitted to but refused.. then pretty much quit the research program start looking for job</p>
                        </div>
                      </div>
                    </li>
                    <li><div class="tldate">2014</div></li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-university" aria-hidden="true"></i> Graduate From RMIT with a CS master degree overall GPA 3.8
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 20/12/2013</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Write up a quick summary of the event.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> Lexer Twitter Analysis Project
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 29/02/2013 - 01/05/2013 </small></p>
                        </div>
                        <div class="tl-body">
                          <p>This is project supervised Dr Jenny Zhang collabroated with PhD candidates Warrick Wang helps Lexer classify whether a tweet is comes a bussiness account or personal user</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-university" aria-hidden="true"></i> Participate ACM ICPC competition
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 29/02/2013 - 01/05/2013 </small></p>
                        </div>
                        <div class="tl-body">
                          <p>With my best friend Warrick Wang and another team mate got fourth place without any preparation</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> RMIT summer intership
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 1/1/2014 - 15/2/2014</small></p>
                        </div>
                        <div class="tl-body">
                            <p>This is project is supervised by Dr Shane Culpepper aims to find a better data structure for search engine indexing, although we did not find any thing meaningful</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4 class="text-success">
                                <i class="fa fa-university" aria-hidden="true"></i> started Starting at RMIT
                            </h4>
                          <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> 19/2/2014</small></p>
                        </div>
                        <div class="tl-body">
                            <p>Started studying in RMIT for my master degree of computer science</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  </div>
              </div>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>cover template for cheng</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    {% endblock %}
</html>
