{% extends "layout.html" %}

{% block body %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

           <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cheng homepage</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a data-toggle="tab" href="#cover-section">Home</a></li>
                  <li><a data-toggle="tab" href="#contact-section">Contact</a></li>
                  <li><a data-toggle="tab" href="#timeline-section">TimeLine</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hire Me<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Download my resume</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Contact Me</li>
                      <li><a href="#">Leave Message</a></li>
                      <li><a href="#">Make An Appointment</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
          </nav>
          <div class="tab-content">
              <div id="cover-section" class="inner cover tab-pane fade in active">
                <h1 class="cover-heading">About</h1>
                <div class="row">
                    <div class="col-md-4">
                        <img src= />
                    </div>
                    <div class="col-md-8">
                        <p class="lead">My name is Cheng Yu. Currently I am work for <a href="https://gracecrm.com/">UNITIX</a> as a fullstack developer</p>
                        <p class="lead">I would say I am not that kind of "professional programmer". I love computing technology and luckily I got a job as programmer</p>
                        I do not have a very clear bundary of what I can or can not do, but I am most interested in: 
                        <ul>
                            <li>
                                Operating System Mechanism (Perferable Linux)
                            </li>
                            <li>
                                Functional Programming (Perferable Haskell, Scheme)
                            </li>
                            <li>
                                Artificial Intelligence (Perferable Machine Learning)
                            </li>
                            <li>
                                Information Security (Just know little about this area..., currently interested in encrypted currency technology)
                            </li>
                        </ul>
                    </div>
                </div>
              </div>

              <div id="timeline-section" class="inner cover tab-pane fade">
                <div class="container">
                  <header class="page-header">
                    <h1>Tineline events for life, career and educations</h1>
                  </header>
                  <ul class="timeline">
                    <li><div class="tldate">Apr 2014</div></li>
                    <li>`
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4>Surprising Headline Right Here</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 hours ago</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Lorem Ipsum and such.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4>Breaking into Spring!</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 4/07/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Hope the weather gets a bit nicer...</p>
                          <p>Y'know, with more sunlight.</p>
                        </div>
                      </div>
                    </li>
                    <li><div class="tldate">Mar 2014</div></li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4>New Apple Device Release Date</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/22/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>In memory of Steve Jobs.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4>No icon here</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/16/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Here you'll find some beautiful photography for your viewing pleasure, courtesy of <a href="http://lorempixel.com/">lorempixel</a>.</p>
                          <p><img src="http://lorempixel.com/600/300/nightlife/" alt="lorem pixel"></p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4>Some Important Date!</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/03/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Write up a quick summary of the event.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-panel noarrow">
                        <div class="tl-heading">
                          <h4>Secondary Timeline Box</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/01/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>This might be a follow-up post with related info. Maybe we include some extra links, tweets, user comments, photos, etc.</p>
                        </div>
                      </div>
                    </li>
                    <li><div class="tldate">Feb 2014</div></li>
                    <li class="timeline-inverted">
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4>The Winter Months</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/23/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Gee time really flies when you're having fun.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="tl-circ"></div>
                      <div class="timeline-panel">
                        <div class="tl-heading">
                          <h4>Yeah we're pretty much done here</h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/11/2014</small></p>
                        </div>
                        <div class="tl-body">
                          <p>Wasn't this fun though?</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  </div>
              </div>

              <div id="contact-section" class="inner cover tab-pane fade">
                <h1 class="cover-heading">Contact Information.</h1>
                <p class="lead">Phone: +61451041116</p>
                <p class="lead">email: chengyu0316@gmail.com</p>
              </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>cover template for cheng</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    {% endblock %}
</html>
