{% macro css(filename) %}
    <link href={{ url_for("static", filename="css/" + filename + ".css") }} rel="stylesheet">
{% endmacro %}

{% macro js(filename) %}
    <script src={{ url_for("static", filename="js/" + filename + ".js") }} /> </script>
{% endmacro %}

{% macro timeline_panel() %}
{% endmacro %}

{% macro timeline_entry(timeline) %}
    <li class="{{ TIMELINE_ENTRY_CLASS[timeline.event_type] }}" >
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4 class="{{ TIMELINE_HEADING_STYLE[timeline.event_type] }}">
              <i class="{{ TIMELINE_ICON[timeline.event_type] }}" aria-hidden="true"></i>
              {{ timeline.title | safe  }}
          </h4>
          <p>
            <small class="text-info">
              <i class="glyphicon glyphicon-time">
                {% if timeline.date_from != timeline.date_to %}
                    {{ timeline.date_from }} - {{ timeline.date_to }}
                {% else %}
                    {{ timeline.date_from }}
                {% endif %}
              </i>
            </small>
          </p>
        </div>
        <div class="tl-body">
            <p>{{ timeline.description | safe }}</p>
        </div>
      </div>
    </li>
{% endmacro %}

{% macro timeline_section(timelines) %}
    <div id="timeline-section" class="inner cover tab-pane in fade">
        <div class="row">
            <div class="container">
                <header class="page-header">
                    <h1>Timeline events for life, career and educations</h1>
                </header>
                <ul class="timeline">
                    <li><div class="tldate">Now</div></li>
                    {% for i in range(0, timelines|length) %}
                        {{ timeline_entry(timelines[i]) }}
                        {% if i + 1 < timelines|length and
                                timelines[i].date_from.year != timelines[i + 1].date_from.year %}
                            <li>
                                <div class="tldate">
                                    {{ timelines[i + 1].date_from.year }}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
  </div>
{% endmacro %}
